body{
     height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.header{
    height: 72px;
    background: #1f2937;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-logo{
    color:white;
    font-weight: 900;
}

a{
    text-decoration: none;
    color: white;
}

.leftside .rightside{
    display:flex;
}

.rightside{
    
}

.right{
    display: flex;
    gap: 10px;
}

.content-one-subright .content-one-subleft{
    display: flex;
    text-wrap: wrap;
}

.content-one-button{
    background-color: #3882F6;
    border-radius: 10px;
    color:#e5e7eb;
    width: 100px;
    height: 35px;
    font-weight: bold;
    font-size: 14px;
}

.content-four-subleft{
    display:flex;
    flex-direction: column;
}

.content-four-subright{
    display: flex;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.footer {
  background: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.box{
    width: 200px;
    height: 200px;
    border: 2px solid blue;
    border-radius: 15px;
}

.image-placeholder{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    background-color: grey;
    color:#e5e7eb
}

.info{
  max-width: 200px;
}

.info-header{
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    margin-bottom: auto;
}

.content{
     flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-sec-text{
    font-size: 18px;
    color: #e5e7eb
}

.content-one{
    display:flex;
    gap: 20px;
    justify-content: space-evenly;
    padding: 100px;
    background-color: #1f2937;
}

.content-two{
    display:flex;
    justify-content: center;
    gap: 52px;
}

.content-three{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.content-four{
    display: flex;
    gap: 30px;
}
